/* ================================= 
 Global rules and element rules
==================================== */


header {
    background-color: #001aff;
}

/* Navbar */
.navbar {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

h1 {
    color: white;
}

.lead {
    margin-top: 10px;
}

